.btn + .btn {
  margin-left: 10px;
}

.btn-white,
.btn-white:hover {
  color: $primary;
}

.related-area {
  font-size: 0.85em;
  padding: 0.4rem 1.3rem;

  @include media-breakpoint-up(sm) {
    font-size: unset;
  }
}
