.slick-slider {
  margin-bottom: 0 !important;
}

.slick-dots {
  @include media-breakpoint-up(md) {
    bottom: 40px;
    left: 50px;
    text-align: left;
  }

  li button::before,
  li.slick-active button::before {
    color: white;
    font-size: 12px;
  }
}
