.card {
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
  border: none;

  &:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.35s;
  }

  .card-body {
    padding: 2rem 2.3rem;
  }
}

.news-card {
  height: 100%;
  margin-bottom: 30px;

  .news-content {
    padding: 20px;
  }
}

.news-image {
  height: 300px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.card-news-content {
  border-radius: 0 0 10px 10px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  width: 100%;
  text-align: left;
}
