
.cd-morph-dropdown {
  position: absolute;
  height: 80px;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: transparent;

  &::before {
    /* never visible - used in JS to check mq */
    content: "mobile";
    display: none;
  }

  @include media-breakpoint-up(md) {
    &::before {
      content: "desktop";
    }
  }

  // .main-nav {
  //   display: inline-block;

  //   > ul > li {
  //     display: inline-block;
  //     float: left;
  //   }
  // }

  .morph-dropdown-wrapper {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0;
    padding: 1.2em 5%;
    box-shadow: none;
    background-color: transparent;

    /* Force Hardware acceleration */
    transform: translateZ(0) translateY(20px);
    will-change: transform;
    transition: transform 0.3s;
  }

  .dropdown-list {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateZ(0);
    will-change: transform, width, height;
    transition: visibility 0.3s;
    box-shadow: 0 0 20px rgba(#000, 0.15);

    .no-csstransitions & {
      display: none;
    }

    &::before {
      /* dropdown top triangle */
      content: "";
      position: absolute;
      bottom: 100%;
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-bottom-color: white;
      opacity: 0;
      transition: opacity 0.3s;
    }

    > ul {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }

  .dropdown-list > ul > li {
    margin-bottom: 3.3em;
  }

  &.is-dropdown-visible .main-nav > ul > li > a {
    /* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
    // opacity: 0.6;
  }

  &.is-dropdown-visible .main-nav > ul > li.active > a {
    // opacity: 1;
  }

  &.is-dropdown-visible .morph-dropdown-wrapper {
    transform: translateY(0);
  }

  &.is-dropdown-visible .dropdown-list {
    visibility: visible;
    transition: transform 0.3s, width 0.3s, height 0.3s;

    &::before {
      opacity: 1;
    }
  }

  .dropdown {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: opacity 0.3s, visibility 0.3s;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &.move-left .content {
      transform: translateX(-100px);
    }

    &.move-right .content {
      transform: translateX(100px);
    }
  }

  .content {
    width: 510px;
    padding: 2em;
    transition: transform 0.03s;
    text-align: left;
    line-height: 1.5rem;
    font-size: 0.9rem;

    .read-more {
      text-transform: uppercase;
      font-size: 0.9rem;
    }

    h5 {
      margin-bottom: 0.25rem;

      &:not(:first-of-type) {
        margin-top: 15px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .bg-layer {
    /* morph dropdown background */
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    background: white;
    opacity: 0;
    transition: opacity 0.3s;
    transform-origin: top left;
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
  }

  &.is-dropdown-visible .bg-layer {
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
  }
}
