.form {
  margin: 30px 0;

  .form-group {
    margin-bottom: 0;
  }

  div.wpcf7 .ajax-loader {
    // background-image: url("../images/loader.svg") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 50px !important;
    height: 50px !important;
    margin-left: 10px !important;
  }

  div.wpcf7 .wpcf7-mail-sent-ok {
    visibility: hidden;
  }

  hr {
    margin: 30px 0 20px;

    @include media-breakpoint-up(md) {
      margin: 50px 0 40px;
    }
  }
}

.wpcf7-form {
  .alert-warning {
    display: none;
  }
}
