/* ===== Hero ==== */

.hero-container {
  position: relative;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  box-sizing: border-box;
  height: 400px;

  @include media-breakpoint-up(md) {
    height: 450px;
  }

  div {
    height: 100%;
  }

  div [class^="col"] {
    height: auto;
  }

  h1 {
    font-size: 2rem;
    line-height: 130%;

    @include media-breakpoint-up(md) {
      font-size: 2.5rem;
    }
  }

  &.hero_film {
    height: 300px;
  }

  &.hero-short {
    height: 160px;

    @include media-breakpoint-up(md) {
      height: 240px;
    }
  }

  &.overlay {
    padding-top: 0 !important;
  }

  &.bg:not(.full-screen) {
    @include media-breakpoint-up(md) {
      //background-position: 50% calc(50% + 100px);
    }
  }

  &.hero-frontpage {
    >div {
      position: relative;

      >img {
        position: absolute;
        width: 120px;
        top: 40px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(md) {
          width: 140px;
        }
      }
    }
  }

  .hero-mask-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .hero-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    &.hero-mask-mobile {
      top: auto;
    }
  }

  .hero-mask-category {
    position: absolute;
    bottom: 0;
    width: 320px;
    left: -160px;

    @include media-breakpoint-up(md) {
      width: 600px;
      left: -300px;
    }
  }

  .hero-content {
    z-index: 3;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    &.hero-content-home {
      position: relative;

      @include media-breakpoint-up(md) {
        position: absolute;
      }
    }
  }

  .hero-image {
    background-size: cover;
    position: absolute;
    bottom: 0;

    &.hero-image-mobile {
      height: auto;
      width: 70%;
      left: 15%;
      right: 15%;
    }

    &.hero-image-medium {
      top: 30%;
      right: 0;
      left: 17%;
    }

    &.hero-image-large {
      top: 0%;
      right: 0;
      left: 18%;
    }
  }

  .hero-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 85%;
    opacity: 0.9;
  }

  .carousel-hero {
    height: 250px;

    @include media-breakpoint-up(md) {
      height: 100%;
    }

    .bg-image {
      background-size: cover;
      background-position: center center !important;
    }
  }
}

.hero-padding {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;

  @include media-breakpoint-up(sm) {
    padding-left: 25px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-left: 60px;
    width: 45%;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 200px;
  }
}
