.component-testimonials {
  .testimonial-icon img {
    width: 70px;
    height: 70px;
    border: 3px solid white;
  }

  .carousel-testimonials-navigation {
    div.active img {
      border-color: $primary;
    }
  }

  .testimonial-carousel {
    cursor: pointer;
  }
}
