
@import "common/variables";

@each $color, $value in $background-color-map {
  .bg-#{$color} {
    background-color: #{$value};
  }
}

.acf-button-group-custom-color {
  .acf-button-group {
    display: inline-block;

    label {
      padding: 0 !important;
      border: none;
      float: left;
      margin-right: 5px;
      margin-bottom: 5px;

      &:hover {
        background: none !important;
      }

      &.selected {
        background: none;

        div {
          border: 1px solid #007cba !important;
          color: #007cba;
        }
      }

      div {
        height: 32px;
        width: 32px;
        position: relative;

        &:not(.icon-image) {
          border-radius: 100px;
          border: 1px solid #ccd0d4;
          box-shadow: 1px 1px rgba(0, 0, 0, 0.04);
        }
      }
    }
  }

  &.acf-button-group-background .acf-button-group label:first-of-type div {
    border: none !important;
  }

  &.acf-button-group-background .acf-button-group label div.icon-image::after {
    position: absolute;
    top: -3px;
    left: 0;
    font-family: dashicons, sans-serif;
    content: "\f128";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    vertical-align: top;
    margin-right: 5px;
    margin-right: 0.5rem;
  }
}

.acf-carousel-buttons .acf-label {
  display: none;
}

.acf-carousel-buttons .acf-fields.-border {
  border: 0;
}
