.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.useronline-container {
  color: #fff;
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }

  + header {
    margin-top: 33px;
  }

  ~ .hero-container {
    .hero {
      height: 530px;

      > div {
        padding-top: 115px;

        @include media-breakpoint-up(md) {
          padding-top: 95px;
        }
      }
    }
  }
}

header.wellbeing-header {
  height: 90px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  // position: fixed;
  position: sticky;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  display: block;

  &.visitors-active {
    + .hero-container {
      .hero {
        > div {
          // padding-top: 120px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    // height: 116px;
    height: 90px;
  }

  .logo-container {
    z-index: 1;
    position: absolute;
    left: 20px;
    top: 19px;

    @include media-breakpoint-up(md) {
      top: 23px;
    }

    @include media-breakpoint-up(xl) {
      // left: 0;
    }

    img {
      height: 30px;

      @include media-breakpoint-up(md) {
        height: 45px;
      }
    }
  }

  #search {
    position: absolute;
    right: 10px;
    top: 29px;

    .btn {
      position: absolute;
      right: 0;
      top: -4px;
    }

    a,
    input {
      border-radius: 100px;
    }
  }

  #search-icon {
    position: absolute;
    right: 60px;
    top: 19px;

    @include media-breakpoint-up(md) {
      top: 27px;
    }

    i {
      font-size: 1.4rem;
    }
  }

  #menu-toggle span {
    background-color: $primary;
  }
}

/* ===== Main navigation ===== */

.main-nav {
  display: none;
  position: absolute;

  @include media-breakpoint-up(lg) {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 26px;
  }

  > ul > li {
    display: inline-block;

    > a {
      display: inline-block;
      color: $body-color;
      font-size: 15px;
      text-decoration: none;
      padding: 14px 16px;

      @include media-breakpoint-up(md) {
        margin: 0 10px;
        padding: 4px 6px 28px;
      }

      &:hover {
        color: $primary;
        text-decoration: none;
      }

      &.mega-menu-dropdown-icon::after {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: 'Font Awesome 5 Pro'; /* stylelint-disable-line */
        font-weight: 900;
        content: "\f0d7";
        color: $primary;
        padding-left: 6px;
      }
    }

    // &:last-of-type {
    //   > a {
    //     &::after {
    //       display: inline-block;
    //       font-style: normal;
    //       font-variant: normal;
    //       text-rendering: auto;
    //       -webkit-font-smoothing: antialiased;
    //       font-family: 'Font Awesome 5 Pro'; /* stylelint-disable-line */
    //       font-weight: 900;
    //       content: "\f276";
    //       color: $primary;
    //       padding-left: 6px;
    //     }
    //   }
    // }
  }

  &.main-nav-mega-menu {
    width: 100%;

    > ul {
      float: right;
    }
  }
}

/* ===== Toggle icon ===== */

.mobile-menu-toggle {
  display: block;
  cursor: pointer;
  z-index: 10;
  width: 25px;
  height: 20px;
  position: absolute;
  right: 16px;
  top: 22px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;

  @include media-breakpoint-up(md) {
    top: 30px;
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $primary;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  &.menu-blue {
    span {
      background-color: white;
    }
  }
}

.mobile-menu-toggle span:nth-child(1) {
  top: 0;
}

.mobile-menu-toggle span:nth-child(2),
.mobile-menu-toggle span:nth-child(3) {
  top: 8px;
}

.mobile-menu-toggle span:nth-child(4) {
  top: 16px;
}

.mobile-menu-toggle.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

.mobile-menu-toggle.open span:nth-child(2) {
  transform: rotate(45deg);
}

.mobile-menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.mobile-menu-toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* ===== Simple mobile menu ===== */

#mobile-menu-simple,
#menu-search {
  position: fixed;
  top: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 9;
}

#mobile-menu-simple {
  ul {
    font-size: 24px;
    font-weight: 400;
    list-style: none;

    a {
      color: #fff;
      padding: 5px 0;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }
    }
  }

  img {
    width: 35px;

    @include media-breakpoint-up(md) {
      width: 60px;
    }
  }

  .container {
    padding-top: 70px;

    @include media-breakpoint-up(md) {
      padding-top: 90px;
    }
  }

  hr {
    margin: 15px auto;
  }

  p {
    padding: 0;
  }
}

/* ===== Mega menu ===== */

.mega-menu-dropdown {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

  > div:first-child {
    position: absolute;
    top: 0;
    height: 20px;
    left: 0;
    right: 0;
    box-shadow: inset 0 8px 4px -4px #ddd;
  }
}

.has-megamenu .mega-menu-dropdown {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  padding: 30px;
}

.has-megamenu:hover .mega-menu-dropdown {
  display: block;
  position: fixed;
  width: 100vw;
}

.mm-icon {
  img {
    height: 45px;
    float: left;
  }

  h4 {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  div {
    display: block;
    padding-left: 65px;
    font-size: 0.9rem;
  }
}

/* ===== Side nav ===== */

#mobile-nav-mask {
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
  transform: scaleX(-1);
  opacity: 0.2;
}

#mobile-menu .btn {
  position: absolute;
  z-index: 10;
  top: 300px;
  left: 50px;
}
