.feature {
  height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #dcdcdc;

  .image {
    background-size: cover;
    border-radius: 20px 20px 0 0;

    @include media-breakpoint-up(md) {
      border-radius: 20px 0 0 20px;
    }
  }

  .content-wrapper {
    padding: 30px;
  }
}

#bbpress-forums #bbp-search-form #bbp_search {
  left: 0;
  background-color: #f2f2f2;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  height: 48px;
}

#bbp_search_submit {
  float: right;
  height: 48px;
  margin: 0;
  color: #fff;
  background-color: $primary;
  width: 155px;
  font-weight: 700;
  border: none;
  border-radius: 0 200px 200px 0;
}

.bbp-body {
  line-height: 1.7;
}

.forum-titles,
.bbp-forum-title,
.bbp-forum-content,
.bbp-pagination,
.bbp-pagination-count,
.bbp-form {
  font-size: 0.95rem;

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
}

div.bbp-template-notice {
  border-style: none;
  padding: 0.5em;
}

div.bbp-template-notice.info {
  border: none;
  background-color: #04d2c74f;
}

div.bbp-template-notice li,
div.bbp-template-notice p {
  font-size: 0.95rem;

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
}

#bbp_topic_submit,
#bbp_reply_submit,
#user-submit {
  padding: 0.5rem 1rem;
  font-size: 1.375rem;
  line-height: 1.5;
  border-radius: 200px;
  color: #fff;
  background-color: #04d2c7;
  border-color: #04d2c7;
  border: 1px solid transparent;
}

div.bbp-breadcrumb,
div.bbp-topic-tags {
  font-size: 0.95rem;
  line-height: 1.7;

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
}

#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
  font-size: 0.95rem;

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
}

#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums ul.bbp-topics {
  font-size: 0.95rem;

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
}

#bbpress-forums fieldset.bbp-form input[type=text],
#bbpress-forums fieldset.bbp-form select {
  min-height: 40px;
}

#bbpress-forums fieldset.bbp-form label {
  margin: 10px 0;
}

#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-reply-author,
#bbpress-forums div.bbp-topic-author {
  width: auto;
}

.bbp-login-form label {
  width: 200px;
}

#bbpress-forums .widget_display_replies img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar {
  border: none;
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
}

#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar {
  border: none;
  border-radius: 50%;
}
