body {
  overflow-x: hidden;
  font-size: 0.95rem;
  scroll-padding-top: 90px;

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
}

// #page {
//   padding-top: 90px;

//   @include media-breakpoint-up(md) {
//     padding-top: 90px;
//   }
// }

[class^="container-"] {
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.container-xs {
  max-width: map-get($breakpoints, xs);
}

.container-sm {
  max-width: map-get($breakpoints, sm);
}

.container-md {
  max-width: map-get($breakpoints, md);
}

.container-lg {
  max-width: map-get($breakpoints, lg);
}

.container-xl {
  max-width: map-get($breakpoints, xl);
}

.container-full {
  max-width: calc(100% - 40px);
}

@mixin section-padding-full-width {
  padding: 25px 0;
  position: relative;

  @include media-breakpoint-up(md) {
    padding: 60px 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 80px 0;
  }

  &.section-extra-padding-top {
    padding-top: 50px;

    @include media-breakpoint-up(md) {
      padding-top: 90px;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 120px;
    }
  }

  &.section-extra-padding-bottom {
    padding-bottom: 50px;

    @include media-breakpoint-up(md) {
      padding-bottom: 90px;
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: 120px;
    }
  }

  &.section-less-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@mixin section-padding-column {
  padding-bottom: 25px;
  position: relative;

  @include media-breakpoint-up(md) {
    padding-bottom: 50px;
  }
}

.exclude-section-padding {
  section {
    padding-top: 0 !important;

    @include section-padding-column();

    [class^=container-] {
      padding: 0 !important;
    }
  }
}

section {
  &:not(.no-gutters) {
    @include section-padding-full-width();
  }

  &.no-gutters {
    .no-gutters > div {
      @include section-padding-full-width();
    }

    > div > div {
      padding: 0;

      > div > div {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
  }

  &.bg-image {
    background-size: cover;
    background-position: center center !important;
    color: white;

    @include headings() {
      color: white;
    }
  }
}

.overlay {
  padding: 0;
  background-size: cover;
  background-position: center center;

  > div {
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.25);
  }
}

section.overlay {
  > div {
    padding: 50px 0;

    @include media-breakpoint-up(lg) {
      padding: 90px 0;
    }
  }
}

.icon-wrapper p {
  margin-left: 20px;
}
