/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "functions";

.home-feature {
  color: white !important;

  @include headings() {
    color: white !important;
  }

  h2 {
    line-height: 120%;
    font-size: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: 2.6rem;
    }
  }

  > div {
    padding: 0 1rem;

    @include media-breakpoint-up(md) {
      padding-left: 2rem;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 5rem;
      padding-right: 20%;
    }
  }

  &.bg-gradient-yellow {
    @include headings() {
      color: $primary !important;
    }

    p {
      line-height: 120%;
      color: $body-color;
    }
  }

  &.bg-gradient-blue {
    @include headings() {
      color: white !important;
    }

    a {
      color: white !important;
    }

    p {
      line-height: 120%;
      color: white;
    }
  }
}

*[id^='buzzsprout-player-'] {
  margin-bottom: 20px;
}
