html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@each $color,
$value in $background-color-map {
  .bg-#{$color} {
    background-color: $value;
    color: determine-text-color($value);

    @include headings () {
      color: determine-text-color($value);
    }
  }

  section.bg-#{$color}+section.bg-#{ $color } {
    padding-top: 0;
  }
}

.social-icons {
  font-size: 2rem;

  svg {
    color: $primary;
  }
}

.cursor {
  cursor: pointer;
}

.component-sidebar-feature {
  .film-wrapper {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    z-index: 1;

    .arve {
      margin-bottom: 0 !important;
    }
  }
}

.sidebar-feature {
  img {
    width: 90px;
    float: left;
    margin-top: -7px;

    &+div {
      padding-left: 100px;

      p {
        line-height: 130%;
        padding-bottom: 0;
      }
    }
  }
}

.arve {
  width: 100% !important;
  max-width: 100% !important;

  iframe {
    border-radius: 15px;
  }
}

.topic-search-form {
  div {
    >div {
      margin-right: 50px;

      input {
        border: none;
        border-radius: 100px !important;
      }
    }

    button {
      top: 0;
      right: 0;
      height: 44px;
      width: 44px;
      padding: 0;
    }
  }
}

/* ==== Accessibility ===== */

.a11y-toolbar ul li.a11y-toolbar-list-item {
  button {
    background: $secondary;
    border-bottom: none;
  }

  &:last-of-type button {
    border-top: 3px solid #fff;
  }
}

/* ==== Pagination ===== */

.wp-pagenavi {
  width: 100%;
  display: block;
  border-collapse: collapse;
  font-weight: bold;
  text-align: center;

  a {
    display: inline-block;
    padding: 7px 20px;
    margin: 0 3px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: $light;

    &:hover {
      text-decoration: none;
    }
  }

  .current {
    display: inline-block;
    padding: 7px 20px;
    margin: 0 3px;
    width: 50px;
    height: 50px;
    background-color: $primary;
    border: 1px solid $primary;
    color: white;
    border-radius: 50px;
  }

  .extend {
    color: $body-color;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.no-hover:hover {
  text-decoration: none;
}

.icon-resource {
  font-size: 1.5rem;
  z-index: 1;
  top: 15px;
  left: 13px;
}

.icon {
  img {
    clear: both;
    float: left;
    width: 42px;
  }

  div {
    margin-left: 55px;
    margin-bottom: 30px;

    @include headings() {
      margin-bottom: 0;
    }
  }
}

.tags {
  .btn {
    margin-bottom: 10px;
    margin-left: 0 !important;
  }
}

#map-container {
  .map {
    max-height: 500px;
    margin-top: -100px;

    @include media-breakpoint-up(md) {
      max-height: 820px;
      margin-top: 0;
    }

    path {
      cursor: pointer;
      transition: all 0.35s;

      &:hover {
        fill: $secondary;
        transition: all 0.35s;
      }
    }
  }

  .map-content {
    @include media-breakpoint-up(md) {
      margin-left: 90px;
      position: absolute;
    }
  }

  .map-title {
    position: absolute;
    top: 0;
    // left: 30px;
    width: 50%;

    h4 {
      line-height: 120%;
    }

    @include media-breakpoint-up(lg) {
      top: 20px;
      left: 90px;
      width: 45%;

      h4 {
        line-height: 140%;
      }
    }
  }

  .map-wrapper {
    position: relative;

    @include media-breakpoint-up(lg) {
      bottom: 100px;
      left: 200px;
    }
  }
}

.area-tabs {
  .nav-tabs {
    border-bottom: 0;
  }

  .nav-link {
    border: none;
    background-color: transparent;
    color: $primary;
  }

  .nav-item.active {
    position: relative;
    color: $primary;

    &::after {
      content: '';
      position: absolute;
      width: 70px;
      height: 3px;
      background: $secondary;
      top: 100%;
      left: calc(50% - 35px);
    }
  }
}

#exit-modal {
  img {
    display: block;
    width: 100%;
    padding: auto;
    margin: 0 auto;
    max-width: 400px;
  }
}

.grecaptcha-badge {
  opacity: 0;
}

footer {
  @include media-breakpoint-up(md) {
    .menu-col {
      border: none;
    }
  }

  .twitter-logo {
    font-size: 2rem;
    line-height: 1;
  }
}

.top-banner {
  .banner-text {
    font-size: 0.75rem;

    @include media-breakpoint-up(sm) {
      font-size: 0.9rem;
    }

    a {
      color: #fff;
      font-weight: 700;

      &:hover,
      &:active,
      &:focus {
        color: #fff;
      }
    }
  }
}
