@include headings() {
  margin-bottom: 1.5rem;

  &.subtitle {
    margin-bottom: 0.2rem;

    + p {
      font-size: $small-font-size;
      text-transform: uppercase;
    }
  }
}

// @include headings(4, 6) {
//   font-family: $font-family-sans-serif;
//   font-weight: 500;
// }

.content-pretty {
  @include headings() {
    color: $primary;
  }
}

.meta {
  font-size: $small-font-size;
  text-transform: uppercase;

  a {
    color: $secondary !important;
  }
}

.content {
  ul,
  ol {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul ul,
  ol ul {
    list-style-type: circle;
    margin-left: 15px;
  }

  ol ol,
  ul ol {
    list-style-type: lower-latin;
    margin-left: 15px;
  }

  li {
    padding-left: 10px;
    padding-bottom: 5px;
  }
}
