/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "functions";
@import "mixins";

$enable-responsive-font-sizes: true;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";

/** Define Breakpoints */
// $breakpoints: (
//   xs: 576px,
//   sm: 768px,
//   md: 992px,
//   lg: 1200px,
//   xl: 1400px
// );

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1440px,
  xl: 1800px
);

@import url("https://use.typekit.net/aqr8wvi.css");

$font-family-sans-serif: sofia-pro, sans-serif;
$headings-font-family: sofia-pro, sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.3;
$font-size-base: 1.1rem;
$line-height-base: 1.7;

$heading-size-base: 1rem;
$h1-font-size: $heading-size-base * 2.5;
$h2-font-size: $heading-size-base * 1.8;
$h3-font-size: $heading-size-base * 1.75;
$h4-font-size: $heading-size-base * 1.5;
$h5-font-size: $heading-size-base * 1.25;
$h6-font-size: $heading-size-base;

$body-color: #000047;

$primary: #1f6fe5;
$secondary: #04d2c7;
$yellow: #fdfd6b;
$gray-dark: #333;
$gray-light: #f4f4f4;

$warning: #dc3545;

.bg-gradient-blue {
  background: rgb(0, 78, 227);
  background: linear-gradient(315deg, rgba(0, 0, 71, 1) 0%, rgba(31, 111, 229, 1) 100%);

  @include headings() {
    color: white !important;
  }

  p {
    color: white;
  }
}

.bg-gradient-yellow {
  background: rgb(255, 202, 57);
  background: linear-gradient(180deg, rgba(255, 202, 57, 1) 30%, rgba(253, 253, 107, 1) 100%);
}

.bg-gradient-teal {
  background: rgb(4, 210, 199);
  background: linear-gradient(90deg, rgba(4, 210, 199, 1) 0%, rgba(0, 78, 227, 1) 100%);
}

$theme-colors: (
  white: #fff,
  gray-dark: $gray-dark,
  gray-light: $gray-light
);

$background-color-map: (
  primary:    $primary,
  secondary:  $secondary,
  yellow:     $yellow,
  gray-dark:  $gray-dark,
  gray-light: $gray-light,
  white:      #fff,
);

$mm_backgroundColor: $primary;
$mm_textColor: white;
$mm_dimmedTextColor: white;

$border-radius: 15px;

$btn-border-radius: 100px;
$btn-border-radius-lg: 100px;
$btn-border-radius-sm: 100px;

$grid-gutter-width: 50px !default;

$btn-padding-y: 0.4rem;
$btn-padding-x: 1.5rem;
$input-btn-padding-y-sm: 0.4rem;
$input-btn-padding-x-sm: 1.1rem;

$btn-font-weight: 700;
$btn-border-radius: 200px;
$btn-border-radius-lg: 200px;
